* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}
p {
	font-size: 16px;
	letter-spacing: 2px;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
}

h1 {
	font-size: 34px;
	letter-spacing: 2px;
	margin-left: 2%;
}

h3 {
	font-size: 30px;
	letter-spacing: 2px;
	margin-left: 2%;
}

h4 {
	font-size: 26px;
	letter-spacing: 2px;
	margin-left: 2%;
}

#backImage {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

#navBar {
	display: block;
	width: 100%;
	height: 9%;
	position: fixed;
	top: 0;
	background-color: black;
}

#navBar ol li a {
	display: inline;
	text-decoration: none;
	color: white;
	margin: 1%;
	font-size: 15px;
}

#navBar ol li a:hover {
	font-size: 16px;
	text-decoration: underline;
}

#landingPage {
	height: 100vh;
}

#landingPageImage {
	width: 100%;
	position: absolute;
	height: 91%;
	top: 9%;
}

#logoPic {
	width: 25%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 10%;
	z-index: 10;
}

#aboutUs {
	height: 100vh;
}

#howItWorks {
	height: 100vh;
}

#services {
	height: auto;
}

#bookingsPage {
	height: 100vh;
}


/* -------------------------------------------------- Tablet Potrait Configuration ----------------------------------------------------------*/
@media only screen and (min-device-width: 768px) and (max-device-height: 1280px) 
{


}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* -------------------------------------------------- Tablet Landscape Configuration ----------------------------------------------------------*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 768px) 
{


}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* -------------------------------------------------- iPad Pro Configuration --------------------------------------------------------------------*/
@media only screen and (width: 1024px) and (height: 1366px) 
{


}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* -------------------------------------------------- Mobile Phone Standard Configuration ----------------------------------------------------------*/
@media only screen and (min-device-width: 360px) and (max-device-height: 760px) 
{


}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* -------------------------------------------------- iPhone X Configuration --------------------------------------------------------------------*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px)
{ 

}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* ------------------------------------------------- Other Phone Configuration -----------------------------------------------------------------*/
@media only screen and (min-device-width: 412px) and (max-device-width: 896px) 
{ 

}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
